@import '~normalize.css'
@import '~prismjs/themes/prism.css'

//
// variable
// -----------------------------------------

fontSize = 16px

bgColor = #fff
textColor = #868e96
linkColor = #08c
metaColor = #888
codeBgColor = #f7f7f7

//
// common
// -----------------------------------------

/::-moz-selection,
/::selection
  background #B2D7FF

body
  // font
  // font-family '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif'
  font-size fontSize
  line-height 2
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust none
  // size
  position relative
  max-width 700px
  margin 0 auto
  padding 0
  background bgColor
  color textColor

h1
h2,
h3,
h4,
h5,
h6
  font-size: 1em

a
  text-decoration none
  color linkColor
  overflow-wrap break-word
  word-break break-all

//
// Shared
// -----------------------------------------

.header
  margin 50px auto
  text-align center
  a.site-title
    font-size 2.4em
    letter-spacing 5px
    text-transform uppercase
    color textColor
    font-weight bold
  a.about
    font-weight 300

.footer
  text-align center
  font-weight 300
