@require './base'

.list-view
  padding-top 10%
  margin 0 20px
  ol,
  ul
    padding 0
    list-style none

ol.list
  padding-top 10%

.list-item
  position relative

.item-title
  display inline-block
  margin-bottom 10px
  font-size fontSize + 2
  color textColor
  font-weight: 300
  letter-spacing 0.1rem
  &:hover
    color black

.item-date
  display inline-block
  font-size fontSize - 4
  color textColor
  opacity: .45
  padding-top 12px
  float right

@media (max-width: 500px)
  .item-date
    display none
