@require './base'

.post-view
  margin 0 20px 50px
  a:hover
    border-bottom 1px dashed linkColor

.post-title
  line-height: 1em;
  margin-bottom 50px
  text-align left
  font-size 1.6em
  margin-top 10%
  letter-spacing 0.1rem
  font-weight 300
  color textColor

article
  p
    color textColor
    font-size 16px
    font-weight 300
    word-break break-word
    margin 10px 0
    line-height: 2em
  h2
    font-size 1.5em

.comments
  padding 0
  pre
    padding 0


// when smaller than tablet
@media (max-width: 767px)
  h1
    font-size: 1.6em
    color textColor

  h3
    font-size 16px

.post-date
  float right
  font-size fontSize - 2
  line-height 2
  color metaColor

pre
  background codeBgColor !important
  padding 16px
  overflow-x auto
  font-size 1em
  line-height normal
  white-space pre-wrap

blockquote
  margin 0
  padding 0 16px
  border-left 4px solid #ddd
