<div>
  <%- partial('_partial/article', {post: page, index: false}) %>
  <div id="YoYo"></div>
  <script type="text/javascript" src="https://yoyo-client-production.s3.amazonaws.com/dist/index.js"></script>
</div>
