@require '../base'

.post-view
  margin 0 20px 50px
  a:hover
    border-bottom 1px dashed linkColor

.post-title
  line-height 1
  margin-bottom 50px
  text-align center

.comments
  padding 0
  pre
    padding 0

// when smaller than tablet
@media (max-width: 767px)
  .post-title
    font-size 1.5em

.post-date
  float right
  font-size fontSize - 2
  font-weight 400
  line-height 2
  color metaColor

pre
  background codeBgColor !important
  padding 16px
  overflow-x auto
  white-space pre
  font-size: 0.8em;
  line-height: 12px;

code
  background codeBgColor
  font-family monospaceFontFamily !important

blockquote
  margin 0
  padding 0 16px
  border-left 4px solid #ddd
